name: cmake CI
on: [push]
jobs:
    test_build:
        name: Build infoNES program
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout
              uses: actions/checkout@v4
              
            - name: Get next version
              id: version_increment
              uses: reecetech/version-increment@2024.10.1
              with:
                increment: 'patch'
                scheme: 'semver'

            - name: Build-pico
              uses: elehobica/build-pico@v1
              with:
                platform: rp2350
                board: pico2

            - name: Upload Build Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: workspace_artifacts
                  path: ${{steps.build.outputs.output_dir}}
